<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                Copyright &copy; {{copyright_holder}} {{current_year}}
            </div>
        </div>
    </div>
</footer>
