<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                Copyright &copy; {{metadata.current_year}}, {{metadata.configuration.copyright_holder}}. All rights reserved.
            </div>
        </div>
    </div>
</footer>
