{{>header.html}}
<div class="container-fluid home">
    {{>navbar.html}}
    <div class="row" style="margin-top: 200px"></div>
    <div class="row text-center w-100">
        <div class="col-12">
            <h1>{{site_name}}</h1>
        </div>
    </div>
    <div class="row mt-2 text-center w-100">
        <div class="col-4 offset-4">
            <gcse:searchbox-only>
        </div>
    </div>
    <div class="row" style="margin-bottom: 200px">
    </div>
</div>
{{>footer.html}}