<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_meta.html}} {{>head_css.html}}
    <title>{{metadata.configuration.name}}</title>
</head>

<body>
    <div class="container-fluid home">
        {{>navbar.html}}
        <div class="row" style="margin-top: 200px"></div>
        <div class="row text-center w-100">
            <div class="col-12">
                {{#metadata.configuration.institution_name}}
                <h1>{{metadata.configuration.institution_name}}</h1>
                <h2>{{metadata.configuration.name}}</h2>
                {{/metadata.configuration.institution_name}}

                {{^metadata.configuration.institution_name}}
                <h1>{{metadata.configuration.name}}</h1>
                {{/metadata.configuration.institution_name}}
            </div>
        </div>
        <div class="row mt-2 text-center w-100">
            <div class="col-4 offset-4">
                <gcse:searchbox-only>
            </div>
        </div>
        <div class="row" style="margin-bottom: 200px">
        </div>
    </div>
    {{>footer.html}} {{>scripts.html}}
</body>

</html>