<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_meta.html}} {{>head_css.html}}
    <title>{{configuration.name}}</title>
</head>

<body>
    <div class="container-fluid index top-level-container">
        {{>navbar.html}}
        <div class="first-row row"></div>
        <div class="row text-center w-100">
            <div class="col-12">
                {{#configuration.institution_name}}
                <h1>{{configuration.institution_name}}</h1>
                <h2>{{configuration.name}}</h2>
                {{/configuration.institution_name}} {{^configuration.institution_name}}
                <h1>{{configuration.name}}</h1>
                {{/configuration.institution_name}}
            </div>
        </div>
        <div class="row mt-2 text-center w-100">
            <div class="col-4 offset-4">
                <form class="form-inline justify-content-center" action="{{{root_relative_href}}}/search.html" method="GET">
                    <input autofocus class="form-control search-input mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn search-button" type="submit">Search</button>
                </form>
            </div>
        </div>
        {{#has_featured_searches}}
        <div class="row w-100 mt-4">
            <div class="col-12 text-center">
                <strong>Try:</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-4 text-center">
                <div class="container-fluid">
                    <div class="row">
                        {{#configuration.featured_searches}}
                        <div class="col-6">
                            <a href="{{{root_relative_href}}}/search.html?q={{query}}">{{name}}</a>
                        </div>
                        {{/configuration.featured_searches}}
                    </div>
                </div>
            </div>
        </div>
        {{/has_featured_searches}}
        <div class="last-row row">
        </div>
    </div>
    {{>footer.html}} {{>scripts.html}}
</body>

</html>