<nav class="navbar navbar-expand-lg navbar-light" style="padding-left: 0; padding-right: 0">
    <a class="navbar-brand" href="{{{root_rel_href}}}/index.html">{{site_name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{{#home_nav_item_active}} active{{/home_nav_item_active}}">
                <a class="nav-link" href="{{{root_rel_href}}}/index.html">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item{{#objects_nav_item_active}} active{{/objects_nav_item_active}}">
                <a class="nav-link" href="{{{root_rel_href}}}/objects/list/1.html">Objects</a>
            </li>
        </ul>
        <div class="ml-auto" style="max-width: 25%">
            <gcse:searchbox-only />
        </div>
    </div>
</nav>