<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_meta.html}} {{>head_css.html}}
    <title>{{site_name}} - Object {{object.id}}</title>
    <!--
  <PageMap>
     <DataObject type="object">
{{#object.standard_attributes}}
        <Attribute name="{{key}}" value="{{value}}" />
{{/object.standard_attributes}}
     </DataObject>
{{#object.thumbnail_images}}
     <DataObject type="thumbnail">
        <Attribute name="src" value="{{thumbnail_url}}" />
        <Attribute name="width" value="210" />
        <Attribute name="height" value="211" />
     </DataObject>
{{/object.thumbnail_images}}
  </PageMap>
  -->
</head>

<body>
    <div class="container-fluid">
        {{>navbar.html}} {{#object.has_full_size_images}}
        <div class="row text-center w-100">
            {{#object.full_size_images}}
            <div style="display: inline-block; padding-bottom: 20px; padding-right: 20px">
                <a href="{{{full_size_url}}}" data-lity data-lity-desc="{{{title}}}">
                    <img alt="{{title}}" src="{{{thumbnail_url}}}" title="{{title}}">
                </a>
            </div>
            {{/object.full_size_images}}
        </div>
        {{/object.has_full_size_images}}
        <div class="row">
            <table class="table table-bordered table-striped">
                {{#object.impl_attributes}}
                <tr>
                    <td style="width: 10%">{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {{/object.impl_attributes}}
            </table>
        </div>
    </div>
    {{>footer.html}} {{>scripts.html}}
</body>

</html>