<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_meta.html}} {{>head_css.html}}
    <title>{{metadata.configuration.name}} - Object {{object.id}}</title>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "CreativeWork",
            {{#object.standard_attributes_json.othername}}
            "alternateName": {{{object.standard_attributes_json.othername}}},
            {{/object.standard_attributes_json.othername}}
            "copyrightHolder": "{{{metadata.configuration.copyright_holder}}}",
            {{#object.standard_attributes_json.description}}
            "description": {{{object.standard_attributes_json.description}}},
            {{/object.standard_attributes_json.description}}
            {{#object.standard_attributes_json.title}}
            "headline": {{{object.standard_attributes_json.title}}},
            {{/object.standard_attributes_json.title}}
            "identifier": {{{object.standard_attributes_json.id}}},
            {{#object.standard_attributes_json.name}}
            "name": {{{object.standard_attributes_json.name}}},
            {{/object.standard_attributes_json.name}}
            {{#object.standard_attributes_json.date}}
            "temporalCoverage": {{{object.standard_attributes_json.date}}},
            {{/object.standard_attributes_json.date}}
            "thumbnailUrl": "{{{object.thumbnail_url}}}",
            "url": "{{{metadata.configuration.base_url}}}{{{object.absolute_href}}}"
        }
    </script>
</head>

<body>
    <div class="container-fluid object-detail top-level-container">
        {{>navbar.html}}
        <div class="row">
            <div class="col-10 offset-1">
                <div class="container-fluid content-container">
                    <div class="row">
                        <div class="col-4">
                            {{#object.has_full_size_images}}
                            {{#object.full_size_images}}
                            <div class="full-size-image">
                                <a href="{{{full_size_url}}}" data-lity data-lity-desc="{{{title}}}">
                                    <img alt="{{title}}" src="{{{thumbnail_url}}}" title="{{title}}">
                                </a>
                            </div>
                            {{/object.full_size_images}}
                            {{/object.has_full_size_images}}
                        </div>
                        <div class="col-8">
                            <table class="attributes table table-bordered table-striped">
                                    {{#object.impl_attributes}}
                                    <tr>
                                        <td class="name">{{name}}</td>
                                        <td class="value">{{value}}</td>
                                    </tr>
                                    {{/object.impl_attributes}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer.html}} {{>scripts.html}}
</body>

</html>