<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_meta.html}} {{>head_css.html}}
    <title>{{metadata.configuration.name}} - Objects</title>
</head>

<body>
    <div class="container-fluid objects-list top-level-container">
        {{>navbar.html}}
        <div class="mb-4 objects-row row">
            <div class="col-8 offset-2">
                <div class="container-fluid">
                    <div class="row mb-4">
                        <div class="col-12 text-center">
                            <h4>Objects</h4>
                        </div>
                    </div>
                    <div class="row">
                        {{#objects}}
                        {{>object_card.html}}
                        {{/objects}}
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-row row">
            <div class="col-6 offset-3 text-center ">
                <nav aria-label="Page navigation ">
                    <ul class="pagination justify-content-center ">
                        <li class="page-item{{^previous_page_number.enabled}} disabled{{/previous_page_number.enabled}} ">
                            <a class="page-link " href="{{previous_page_number.number}}.html " tabindex="-1 ">Previous</a>
                        </li>
                        {{#visible_page_numbers}}
                        <li class="page-item{{#active}} active{{/active}} ">
                            <a class="page-link " href="{{number}}.html ">{{number}}</a>
                        </li>
                        {{/visible_page_numbers}}
                        <li class="page-item{{^next_page_number.enabled}} disabled{{/next_page_number.enabled}} ">
                            <a class="page-link " href="{{next_page_number.number}}.html ">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {{>footer.html}} {{>scripts.html}}
</body>

</html>