<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_meta.html}} {{>head_css.html}}
    <title>{{metadata.configuration.name}} - Objects</title>
</head>

<body>
    <div class="container-fluid objects-list top-level-container">
        {{>navbar.html}}
        <div class="mb-4 first-row row">
            <div class="col-8 offset-2">
                <div class="container-fluid">
                    <div class="row mb-4">
                        <div class="col-12 text-center">
                            <h4>Objects</h4>
                        </div>
                    </div>
                    <div class="row">
                        {{#objects}}
                        <div class="card mb-4 mr-4 object-card">
                            <div class="card-header text-center">
                                <a href="{{{metadata.root_relative_href}}}{{{absolute_href}}}">{{name}}</a>
                            </div>
                            <div class="card-body">
                                <figure class="figure">
                                    <a href="{{{metadata.root_relative_href}}}{{{absolute_href}}}">
                                        <img alt="{{title}}" class="figure-img rounded object-thumbnail" src="{{{thumbnail_url}}}"
                                            title="{{title}}" />
                                    </a>
                                    <figcaption class="figure-caption text-center">
                                        {{#title}} {{title}}
                                        <br/>{{/title}} {{#date}} {{date}}
                                        <br/>{{/date}}
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        {{/objects}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3 text-center ">
                <nav aria-label="Page navigation ">
                    <ul class="pagination justify-content-center ">
                        <li class="page-item{{^previous_page_number.enabled}} disabled{{/previous_page_number.enabled}} ">
                            <a class="page-link " href="{{previous_page_number.number}}.html " tabindex="-1 ">Previous</a>
                        </li>
                        {{#visible_page_numbers}}
                        <li class="page-item{{#active}} active{{/active}} ">
                            <a class="page-link " href="{{number}}.html ">{{number}}</a>
                        </li>
                        {{/visible_page_numbers}}
                        <li class="page-item{{^next_page_number.enabled}} disabled{{/next_page_number.enabled}} ">
                            <a class="page-link " href="{{next_page_number.number}}.html ">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {{>footer.html}} {{>scripts.html}}
</body>

</html>