<!-- jQuery JavaScript -->
<script src="{{{root_relative_href}}}/js/jquery-3.2.1.slim.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="{{{root_relative_href}}}/js/popper.min.js"></script>
<script src="{{{root_relative_href}}}/js/bootstrap.min.js"></script>

<!-- lity JavaScript -->
<script src="{{{root_relative_href}}}/js/lity.min.js"></script>

<!-- Google Custom Search Engine JavaScript -->
<script>
    (function () {
        var cx = '{{{configuration.google_custom_search_engine_id}}}';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>

<!-- Font Awesome -->
<script src="{{{root_relative_href}}}/js/fontawesome.js"></script>
