<!-- jQuery JavaScript -->
<script src="{{{root_relative_href}}}/js/jquery-3.2.1.slim.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="{{{root_relative_href}}}/js/popper.min.js"></script>
<script src="{{{root_relative_href}}}/js/bootstrap.min.js"></script>

<!-- lity JavaScript -->
<script src="{{{root_relative_href}}}/js/lity.min.js"></script>

<!-- Font Awesome -->
<script src="{{{root_relative_href}}}/js/fontawesome.js"></script>
