<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_meta.html}} {{>head_css.html}}
    <title>{{configuration.name}} - Search</title>

    <script id="object-card-html-mustache" type="text/html">
        {{{object_card_html_mustache}}}
    </script>
</head>

<body>
    <div class="container-fluid objects-list search top-level-container">
        {{>navbar.html}}
        <div class="mb-4 objects-row row">
            <div class="col-8 offset-2">
                <div class="container-fluid">
                    <div class="row mb-4">
                        <div class="col-12 text-center">
                            <h4>Search results</h4>
                            <h5 class="search-term"></h5>
                        </div>
                    </div>
                    <div class="row" id="search-results">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer.html}} {{>scripts.html}}
    <script type="text/javascript" src="{{{root_relative_href}}}/js/lunr.min.js"></script>
    <script type="text/javascript" src="{{{root_relative_href}}}/js/lunr_index.js"></script>
    <script type="text/javascript" src="{{{root_relative_href}}}/js/mustache.min.js"></script>
    <script type="text/javascript" src="{{{root_relative_href}}}/js/objects.js"></script>
    <script type="text/javascript" src="{{{root_relative_href}}}/js/search.js"></script>
</body>

</html>