<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{{#objects}}
 <url>
   <loc>{{{base_url}}}{{{object.absolute_href}}}</loc>
   <lastmod>{{lastmod}}</lastmod>
   <PageMap xmlns="http://www.google.com/schemas/sitemap-pagemap/1.0">
     <DataObject type="object">
{{#object.standard_attributes}}
        <Attribute name="{{key}}"><![CDATA[{{value}}]]></Attribute>
{{/object.standard_attributes}}
     </DataObject>
{{#object.thumbnail_images}}
     <DataObject type="thumbnail">
        <Attribute name="src">{{thumbnail_url}}</Attribute>
        <Attribute name="width">210</Attribute>
        <Attribute name="height">211</Attribute>
     </DataObject>
{{/object.thumbnail_images}}
   </PageMap>
 </url>
{{/objects}}
</urlset>