<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
 <url>
   <loc>{{{configuration.base_url}}}/index.html</loc>
   <lastmod>{{lastmod}}</lastmod>
 </url>
{{#objects_list_page_numbers}}
 <url>
   <loc>{{{configuration.base_url}}}/objects/list/{{{number}}}.html</loc>
   <lastmod>{{lastmod}}</lastmod>
 </url>
{{/objects_list_page_numbers}}
{{#objects}}
 <url>
   <loc>{{{configuration.base_url}}}{{{absolute_href}}}</loc>
   <lastmod>{{lastmod}}</lastmod>
   <PageMap xmlns="http://www.google.com/schemas/sitemap-pagemap/1.0">
     <DataObject type="object">
{{#standard_attributes_list_xml}}
        <Attribute name="{{name}}">{{{value}}}</Attribute>
{{/standard_attributes_list_xml}}
     </DataObject>
{{#thumbnail_images}}
     <DataObject type="thumbnail">
        <Attribute name="src">{{thumbnail_url}}</Attribute>
        <Attribute name="width">210</Attribute>
        <Attribute name="height">211</Attribute>
     </DataObject>
{{/thumbnail_images}}
   </PageMap>
 </url>
{{/objects}}
</urlset>