<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_meta.html}} {{>head_css.html}}
    <title>{{configuration.name}} - Objects</title>
</head>

<body>
    <div class="container-fluid objects-list top-level-container">
        {{>navbar.html}}
        <div class="mb-4 objects-row row">
            <div class="col-8 offset-2">
                <div class="container-fluid">
                    <div class="row mb-4">
                        <div class="col-12 text-center">
                            <h4>Objects</h4>
                        </div>
                    </div>
                    <div class="row">
                        {{#objects}}
                        {{>object_card.html}}
                        {{/objects}}
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-row row">
            <div class="col-6 offset-3 text-center ">
                {{>pagination.html}}
            </div>
        </div>
    </div>
    {{>footer.html}} {{>scripts.html}}
</body>

</html>