{{>header.html}}
<div class="container-fluid">
    <div class="row text-center">
        <h1>{{page_title}}</h1>
    </div>
    <div class="row">
        {{#objects}}
        <div class="card mb-4 mr-4" style="border-width: 8px">
            <div class="card-header">
                <a href="{{{object_href}}}">{{object_name}}</a>
            </div>
            <div class="card-body" style="width: 240px">
                <figure class="figure">
                    <a href="{{{object_href}}}">
                        <img class="figure-img rounded" src="{{{object_thumbnail_url}}}" style="height: 200px; width: 200px" />
                    </a>
                </figure>
            </div>
        </div>
        {{/objects}}
    </div>
    <div class="row">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item{{#previous_page_disabled}} disabled{{/previous_page_disabled}}">
                    <a class="page-link" href="{{previous_page_number}}.html" tabindex="-1">Previous</a>
                </li>
                {{#page_items}}
                <li class="page-item{{#active}} active{{/active}}">
                    <a class="page-link" href="{{number}}.html">{{number}}</a>
                </li>
                {{/page_items}}
                <li class="page-item{{#next_page_disabled}} disabled{{/next_page_disabled}}">
                    <a class="page-link" href="{{next_page_number}}.html">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{{>footer.html}}