{{>header.html}}
<div class="container-fluid object">
    <div class="row text-center">
        <h1>{{page_title}}</h1>
    </div>
    <table class="table table-bordered table-striped">
{{#object_attributes}}
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
{{/object_attributes}}
    </table>
</div>
{{>footer.html}}